**/.DS_Store
.stack-work/
instant-compiler.cabal
*~
*.cabal
.idea/
#src/packages/parser/parser/
**/_build/
**/.stack-work/
build.lock
insc_jvm
insc_llvm
**/stack
lab/
vendor/
/**/insc_build/
**/Main.jar
**/*.tix
**/test/Generated/

# Hand testing files
in.*